body{
	margin: 0;
	padding: 0;
	font-family: sans-serif;
}



.copy-box{
	background: aqua;
    text-align: center;
    height: 500px;
    width: 90%;
    margin: 0px auto;
}

.content-area{
	padding-top: 10%;

}


input#myInp {
    height: 30px;
    width: 30%;
    outline: none;
    font-size: 20px;
    padding-left: 12px;
}

button#btnCopy {
    background: brown;
    height: 35px;
    width: 10%;
    color: #ffff;
    font-size: 16px;
    text-transform: uppercase;
    font-weight: 700;
    border: 0px;
    cursor: pointer;
}