body{
	margin: 0;
	padding: 0;
	background:#000;

}
.carousel{
	height: 500px;
    perspective: 600px;
	
}
.carousel .carousel-item
{
	width: 400px;
}
.carousel .carousel-item img
{
	width: 100%;
}

.hedding h1{
	text-align: center;
	color: #fff;
	font-family: 'Calistoga', cursive;
	text-transform: uppercase;
	background-color: green;
}